/Lab01_MiguelSierraArroyo_LuisFuentesLicero_KhalilElHageKassem/nbproject/private/
/Lab02_MiguelSierraArroyo_LuisFuentesLicero_KhalilElHageKassem/build/
/Lab02_MiguelSierraArroyo_LuisFuentesLicero_KhalilElHageKassem/nbproject/private/
/Lab02_MiguelSierraArroyo_LuisFuentesLicero_KhalilElHageKassem/dist/